.other-trainings {
  @include media-breakpoint-up(xs) {
    padding: 80px 0;
  }
  @include media-breakpoint-up(md) {
    padding: 120px 0;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      .trainings-box {
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
      }
    }
    .trainings-box {
      box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.07);
      padding: 50px 30px;
      height: 388px;

      h3 {
        @include media-breakpoint-down(md) {
          font-size: 18px;
        }
        @include media-breakpoint-up(md) {
          font-size: 20px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 24px;
        }
      }
      p {
        @include media-breakpoint-down(md) {
          font-size: 16px;
        }
        @include media-breakpoint-up(md) {
          font-size: 16px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
      }
    }
  }
}
